.container{
    display: flex;
    height: 100%;

    margin: 0 auto;
    flex-direction: row;
}

.sidebar{
    //margin: 0 auto;
    //flex-grow: 1;
    flex-shrink: 0;
    //border: 3px solid black;
    border-right: 1px solid #27272780;
    flex-basis: 200px;
    .menu{
        margin: 0 auto;
        h1{
            //padding: 0 0 0 1em;
            font-size: 20px;
            display: flex;
            flex-shrink: 0;
            font-weight: lighter;
            color: grey;
            justify-content: center;
        }
    }
}

.main{
    flex-grow: 1;
    //border: 3px solid black;
    .main-center{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        .main-label{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h1{
                font-size: 60px;
                color: darken(grey, 15%);
            }
        }
        form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .column{
                color: darken(grey, 20%);
                width: 100%;
                .field{
                    margin: 20px auto;
                    display: flex;
                    flex-direction: column;
                    input {
                        margin: 15px 0;
                        border-radius: 10px;
                        border-width: 1px;
                        border-style: solid;
                        padding: 10px;
                        outline: 0;
                        font-size: 0.95em;
                        background: #fff;
                        border-color: #bbb;
                        color: #555;
                        &:focus{
                            border-color: darken(#bbb, 20%);
                            box-shadow: 0 0 3px 1px lighten(rgb(0, 68, 255), 20%);
                        }
                    }

                    .is-invalid{
                        box-shadow: 0 0 3px 1px red;
                    }
                    .text-danger{
                        color: red;
                        margin-bottom: 10px;
                    }
                
                    .field-btn{
                        margin: 20px 0;
                        display: flex;
                        justify-content: flex-end;
                        button{
                            margin: 0 10px;
                            background: #28d;
                            border-radius: 10px;
                            border-color: transparent;
                            color: #fff;
                            cursor: pointer;
                            border-width: 1px;
                            border-style: solid;
                            padding: 16px;
                            outline: 0;
                            font-family: inherit;
                            &:hover{
                                background: darken(#28d,15%);
                            }
                        }
                    }
                }
            }
        }
    }
}

