<div class="container">
    <div class="sidebar">
        <div class="menu">
            <h1>Main page</h1>
        </div>
    </div>
    <div class="main" >
        <div class="main-greeting" >
            <div class="greeting-personalized" *ngIf="auth.userData">
                <h1>Hello, {{name}}!</h1>
            </div>
                <h1 *ngIf="!auth.userData">Hello, stranger!</h1>
            <div class="nav">
                <span *ngIf="!auth.userData" routerLink="login">Log in</span>
                <span *ngIf="auth.userData" routerLink="info">Info DB</span>
                <span *ngIf="!auth.userData" routerLink="create">Sign up</span>
            </div>
        </div>
    </div>
</div>